
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: $space/3 $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;

    &:hover,
    &:focus {
        background: $bg;
    }

    &:active {
        background: darken($bg, 10%);
    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    border: solid 2px #eee;
    border-radius: 3px;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black80;
    background: transparent;
    cursor: pointer;
    user-select: none;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn--primary {
    @include btnStyle(rgba(255,255,255,.3));
}

.btn--block {
    width: 100%;
}