/*! [PROJECT_NAME] | December 2014 | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

* {
    box-sizing: border-box;
}

html {
    font: 400 $base_font_size 'Source Sans Pro', sans-serif;
    line-height: $base_line_height;
}

body {
    color: #222;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

label, 
input, 
button, 
select, 
textarea {
    font-family: $base_font_family;
}

.block {
    margin-bottom: $space;
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.heading {
    font-family: 'Lobster', cursive;
    color: #4e8dff;
}

.main-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-size: 22px;
    color: #eee;
    background: #4e8dff;
}

.main-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.main-section-title {
    color: #eee;

    small {
        padding: 5px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        background: #444;
    }
}

.doc {
    padding: $space;
    margin-bottom: $space*-5;
    color: #333;
    background: #fff;
    transform: translateY( $space*-5 );

    section {
        margin-bottom: $space*2;
    }
}

.fork {
    position: absolute;
    top: 0;
    right: 0;
    padding: $space/4 $space*2;
    color: #4e8dff;
    background: #fff;
    transform: rotate(45deg) translate(35px, -120px);
    transform-origin: bottom left;
}

pre {
    font-size: 16px;
}


// 5 Footer
// ------------------------------------------------------------------------ //

.main-footer {
    text-align: center;
}